@model VoTrongHung2280601119.Models.Product

@{
    ViewData["Title"] = "Xóa Sản phẩm";
    // Layout sẽ được áp dụng từ _ViewStart.cshtml của Admin Area
}

<h1>@ViewData["Title"]</h1>

<h3>Bạn có chắc muốn xóa sản phẩm này không?</h3>
<div>
    <h4>Thông tin Sản phẩm:</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-3">
            Mã:
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Code)
        </dd>
        <dt class="col-sm-3">
            Tên:
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-3">
            Mô tả:
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class="col-sm-3">
            Giá:
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Price) VNĐ
        </dd>
        <dt class="col-sm-3">
            Tồn kho:
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Stock) @Html.DisplayFor(model => model.Unit)
        </dd>
        <dt class="col-sm-3">
            Danh mục:
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Category.Name)
        </dd>
        <dt class="col-sm-3">
            Hình ảnh:
        </dt>
        <dd class="col-sm-9">
            @if (!string.IsNullOrEmpty(Model.ImageUrl))
            {
                <img src="@Model.ImageUrl" alt="Product Image" style="width: 150px; height: auto;" />
            }
            else
            {
                <span>Không có ảnh</span>
            }
        </dd>
    </dl>

    <form asp-action="Delete" method="post">
        <input type="hidden" asp-for="Id" /> @* Cần truyền Id để xóa *@
        <input type="submit" value="Xóa" class="btn btn-danger" /> |
        <a asp-action="Index" class="btn btn-secondary">Quay lại danh sách</a>
    </form>
</div>